body {
  width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  padding: 16px 72px 15px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  margin: 80px 0;
}

.header-link {
  text-decoration: none;
  color: black;
  font: 28px 'Commissioner', 'Arial', sans-serif;
}

.header-link span {
  padding: 0 10px;
}

.nav {
  margin: 0px 45px;
}

.link-logo {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 9px 0 0;
  padding: 0;
}

.nav-item {
  margin-right: 10px;
}

.nav-item a {
  padding: 0;
}

.active {
  background-color: #f5f51b;
}

.tel {
  margin-left: auto;
  margin-top: 9px;
}

.inner {
  padding: 0 72px;
}

.main-title {
  font: 57px/60px 'Roboto', 'Arial', sans-serif;
  margin: 46px 0 33px;
}

.lead {
  display: flex;
}

.lead-text {
  font: 25px/36px 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  width: 590px;
  margin: 0;
}

.lead-text p {
  margin: 0;
}

.lead-pic {
  width: 182px;
  margin: 0 26px 0 59px;
}

.lead-pic img {
  padding: 8px 20px 3px;
}

.lead-pic figcaption {
  font: 19px/22px 'Arial', sans-serif;
  margin-top: -2px;
  padding-left: 10px;
}

.article-title {
  font: 47px 'Commissioner', 'Arial', sans-serif;
  margin: 51px 0 23px;
}

.article-text {
  font: 23px/30px 'Commissioner', 'Arial', sans-serif;
  margin: -2px 0 38px;
  width: 660px;
}

.article-pic {
  margin: 0;
}

.article-pic figcaption {
  font: 18px 'Arial', sans-serif;
  margin: 4px 0 0 3px;
}

.footer-contacts {
  font: 13px 'Arial', sans-serif;
}

.footer-contacts a {
  text-decoration: none;
  color: black;
}

.footer-brand {
  margin-bottom: 17px;
}

.footer-mail {
  margin: 2px 0;
}

.footer-mail a {
  color: red;
}

.footer-tel {
  margin: 2px 0;
}

.footer-adress {
  font: 13px 'Arial', sans-serif;
  width: 300px;
  display: flex;
  align-items: flex-end;
}

.footer-adress p {
  margin: 0;
}

.footer-adress a {
  color: red;
}

.footer-social-links {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 4px;
}
