body {
  width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  padding: 11px 63px 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
  margin: 80px 0;
}

.header-link {
  text-decoration: none;
  color: black;
  font-family: 'Commissioner', 'Arial', sans-serif;
  font-size: 28px;
}

.nav {
  margin: 0px 42px;
}

.link-logo {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 7px;
}

.nav-item a {
  padding: 0 12px;
}

.active {
  background-color: #f5f51b;
  padding: 0 20px;
}

.tel {
  margin-left: auto;
}

.inner {
  padding: 0 72px;
}

.main-title {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 60px;
  margin: 47px 0 33px;
}

.lead {
  display: flex;
}

.lead-text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 25.4px;
  font-weight: bold;
  line-height: 35px;
  margin: 0;
}

.lead-text p {
  margin: 0;
  padding-right: 35px;
}

.lead-pic {
  width: 180px;
  margin: 0 26px 0 20px;
}

.lead-pic img {
  padding: 9px 17px;
}

.lead-pic figcaption {
  font-family: 'Arial', sans-serif;
  font-size: 19px;
  line-height: 22px;
  margin-top: -2px;
  padding-left: 10px;
}

.growing-title {
  font-family: 'Commissioner', 'Arial', sans-serif;
  font-size: 46px;
  letter-spacing: -1px;
  margin: 54px 0 23px;
}

.growing-text {
  font-family: 'Commissioner', 'Arial', sans-serif;
  font-size: 23px;
  line-height: 30px;
  padding-right: 202px;
  margin-bottom: 38px;
}

.growing-pic {
  margin: 0;
}

.growing-pic figcaption {
  font-family: 'Arial', sans-serif;
  font-size: 17.8px;
  margin-top: 8px;
}

.footer-contacts {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
}

.footer-contacts a {
  text-decoration: none;
  color: black;
}

.footer-brand {
  margin-bottom: 17px;
}

.footer-mail {
  margin: 2px 0;
}

.footer-mail a {
  color: red;
}

.footer-tel {
  margin: 2px 0;
}

.footer-adress {
  font-family: 'Arial', sans-serif;
  font-size: 13px;
  width: 300px;
  display: flex;
  align-items: flex-end;
}

.footer-adress p {
  margin: 0;
}

.footer-adress a {
  color: red;
}

.footer-social-links {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 4px;
}
